#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  color: aqua;
  padding: 8px;
  border-radius: 25px;
}

#imageholder {
  display: relative;
}

#img-bergen {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

#main {
  display: block;
  justify-content: center;
}

.content {
  height: 1000px;
  display: flex;
  justify-content: space-evenly;
}

body {
  margin: 0;
  background-color: antiquewhite;
}

.attraksjon {
  display: inline;
  padding: 5px;
}

.attraksjon h1,
.attraksjon h3 {
  border-style: solid;
  border-radius: 20px;
  padding: 5px;
}
